<style>
#head
{
	margin-left: -8px;
	margin-right: 102px;
 	margin-top:-8px;
	background-color: grey;
	width: 100vw;
	height: 15vmin;
}
#title
{
	margin:1vmin;
	margin-left: 2vmin;
	width:60vw;
	height:14vmin;
}
.login
{
	font-size: 3vmin;
	text-align: center;
	padding-top: 2vh;
	position: absolute;
	right: 20vw;
	top:3.5vmin;
	background-color: #4e4b4b;
	border-radius: 10px;
	width: 13vw;
	height: 6vmin;
	color:black;
}
.register
{
	right: 5vw;
}
.left
{
	overflow-y:auto;
	position: absolute;
	width: 200px;
	height: 100vh;
	background-color: blue;
	margin-left: -8px;
}

#forgot
{
	text-align: center;
	width: 400px;
	margin-top: 50px;
	margin-left: 230px;
	border: 1px solid black;
	box-shadow: 3px 3px 3px;
	border-radius: 10px;
}

.sets
{
	width: 198px;
	background-color: white;
	border: 1px solid black;
	height: 80px;
	text-align: center;
}
.sets p
{
	margin-top: 20px;
}
.log
{
	text-align: center;
	padding: 10px 10px 10px 10px;
	margin-left: 220px;
	margin-top: 20px;
	border: 1px solid black;
	border-radius: 10px;
	width: 400px;
	height: 560px;
	box-shadow: 3px 3px 3px;
}

input
{
	width: 330px;
	height: 40px;
	border-radius: 10px;
	margin-bottom: 20px;
	box-shadow: 2px 2px 2px;
}

input[type="submit"]
{
	margin-top: 14px;
	cursor:pointer;
	background-color: grey;
	color:white;
	width: 300px;
}
.cadre_profil{
	border: solid grey 1px;
	width: 600px;
	height: 100px;;
}

::-webkit-input-placeholder
{
	text-align: center;
}

</style>