<!DOCTYPE html>
<html>
<div class="head">
	<a href="/"><img src="../matcha.png" style="margin-left:10px;margin-top:5px;"></a>
	<a href="/login"><div class="login">
		Login
	</div></a>
	<a href="/register"><div class="register">
		Register
	</div></a>
</div>
<div class="left">
	<div class="sets"><p>Home</p></div>
	<div class="sets"><p>Settings</p></div>
	<div class="sets"></div>
	<div class="sets"></div>
	<div class="sets"></div>
</div>
</html>