<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Matcha - Profile</title>
        
         <%- css.style %>
    </head>
 
        
        <body background=../background.png style="display: flex; align-items: center;">
            <% include header.ejs %>
        <h2> Your profile </h2>
        <div >
            <div id="photo" class="cadre_profil">

            </div>
            <div id="nom" class="cadre_profil">

            </div>
            <div id="prenom" class="cadre_profil">
        
            </div>
            <div id="mail" class="cadre_profil">

            </div>
            <div id="password" class="cadre_profil">

            </div>
            <div id="orientation_sexuelle" class="cadre_profil">

            </div>
            <div id="genre" class="cadre_profil">

            </div>
            <div id="bio" class="cadre_profil">

            </div>
            <div id="tag" class="cadre_profil">

            </div>
            
        </div>
        <% if (typeof error !== 'undefined' && error && error !== 'none') { %> <div id=error><strong>Error: <%- error %></strong></div> <% } %>
        <% if (typeof success !== 'undefined' && success) { %> <div id=success><strong>Success: <%- success %></strong></div> <% } %>
   
    </body>
</html>